<% provide(:title, 'Sign In') %>
<% content_for :body_class, 'theme-silver page-signin' %>

<%= javascript_tag do %>
  var init = [];
  init.push(function () {
    var $div = $('<div id="signin-demo" class="hidden-xs"><div>PAGE BACKGROUND</div></div>'),
        bgs  = [ 'demo/signin-bg-1.jpg', 'demo/signin-bg-2.jpg', 'demo/signin-bg-3.jpg',
             'demo/signin-bg-4.jpg', 'demo/signin-bg-5.jpg', 'demo/signin-bg-6.jpg',
           'demo/signin-bg-7.jpg', 'demo/signin-bg-8.jpg', 'demo/signin-bg-9.jpg' ];
    for (var i=0, l=bgs.length; i < l; i++) $div.append($('<img src="' + bgs[i] + '">'));
    $div.find('img').click(function () {
      var img = new Image();
      img.onload = function () {
        $('#page-signin-bg > img').attr('src', img.src);
        $(window).resize();
      }
      img.src = $(this).attr('src');
    });
    $('body').append($div);
  });
<% end %>
<!-- Page background -->
<% content_for :main_wrapper, 'page-signin-bg' %>
    <!-- Background overlay -->
    <div class="overlay"></div>
    <!-- Replace this with your bg image -->
    <%= image_tag "demo/signin-bg-1.jpg" %>
  </div>
  <!-- / Page background -->
<div class="signin-container">

    <!-- Left side -->
    <div class="signin-info">
       <%= link_to root_path, class: "logo" do %>
        <%= image_tag "demo/logo-big.png", :style => 'margin-top: -5px'  %>
        BossDash
        <% end %>
      <!-- / .logo -->
      <div class="slogan">
        Simple. Flexible. Powerful.
      </div> <!-- / .slogan -->
      <ul>
        <li><i class="fa fa-sitemap signin-icon"></i> Flexible modular structure</li>
        <li><i class="fa fa-file-text-o signin-icon"></i> LESS &amp; SCSS source files</li>
        <li><i class="fa fa-outdent signin-icon"></i> RTL direction support</li>
        <li><i class="fa fa-heart signin-icon"></i> Crafted with love</li>
      </ul> <!-- / Info list -->
    </div>
    <!-- / Left side -->

    <!-- Right side -->
    <div class="signin-form">

      <!-- Form -->

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :id => 'signin-form_id' }) do |f| %>
<div class="signin-text">
          <span>Sign In to your account</span>
        </div> <!-- / .signin-text -->

  <div class="form-group w-icon">
    
    <%= f.email_field :email, autofocus: true, id: "username_id", class: "form-control input-lg", placeholder: "Username or email" %>
    <span class="fa fa-user signin-form-icon"></span>
  </div>

  <div class="form-group w-icon">
    
    <%= f.password_field :password, autocomplete: "off", id: "username_id", class: "form-control input-lg", placeholder: "Password"  %>
    <span class="fa fa-lock signin-form-icon"></span>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group w-icon">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit "SIGN IN", class: "signin-btn bg-primary" %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), id: 'forgot-password-link', class: 'forgot-password' %><br />
    <% end -%>
  </div>
<% end %>  
    </div>
    <!-- Right side -->
  </div>
  <!-- / Container -->

<!-- Get jQuery from Google CDN -->
<!--[if !IE]> -->
  <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>"); </script>
<!-- <![endif]-->
<!--[if lte IE 9]>
  <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
<![endif]-->

<!-- Pixel Admin's javascripts -->

<%= javascript_include_tag 'pixel-admin.min.js' %>

<%= javascript_tag do %>
  // Resize BG
  init.push(function () {
    var $ph  = $('#page-signin-bg'),
        $img = $ph.find('> img');

    $(window).on('resize', function () {
      $img.attr('style', '');
      if ($img.height() < $ph.height()) {
        $img.css({
          height: '100%',
          width: 'auto'
        });
      }
    });
  });
  window.PixelAdmin.start(init);
<% end %>