<% provide(:title, 'Add Client') %>
<% content_for :body_class, 'theme-default main-menu-animated' %>
<% content_for :main_wrapper, 'main-wrapper' %>
<div id="content-wrapper">
  <div class="panel form-horizontal">
  <div class="panel-heading">
      <span class="panel-title">Add Client</span>
  </div>
  <%= form_for(@client) do |f| %>
  <div class="panel-body">
      <% if @client.errors.any? %>
      <div class="panel panel-danger panel-body-colorful alert alert-danger">
        <div class="panel-heading"> <span class="panel-title text-danger"><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</span>
          <div class="panel-heading-controls">
            <div class="panel-heading-icon">
              <button class="close" data-dismiss="alert" type="button"><i class="fa fa-times"></i> </button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <ul>
            <% @client.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>
    <%= f.fields_for :user_attributes, @client.user||User.new do |ff| %>
      <div class="form-group">
        <%= ff.label :role, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
        <%= ff.hidden_field :role, :value => "client" %>
        </div>
    </div>
      <div class="form-group">
      <%= ff.label :email, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
      <%= ff.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      </div>
      </div>
      <div class="form-group">
        <%= ff.label :password, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
        <%= ff.text_field :password, class: "form-control", placeholder: "Password" %>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :full_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
      <%= f.text_field :full_name, class: "form-control", placeholder: "Full Name" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :business_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
      <%= f.text_field :business_name, class: "form-control", placeholder: "Business Name" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :crm_code, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
      <%= f.text_field :crm_code, class: "form-control", placeholder: :crm_code %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "Credits", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
      <%= f.text_field :initial_hrs, class: "form-control", placeholder: "Credits" %>
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Add Client', class: "btn btn-primary"  %>
    </div>
  </div>
  <% end %>
  </div>
</div>