

<% provide(:title, 'Edit Staff') %>
<% content_for :body_class, 'theme-default main-menu-animated' %>
<% content_for :main_wrapper, 'main-wrapper' %>
<div id="content-wrapper">
   <b>Staff:</b>
   <ul>
      <% @client.staffs.each do |staff| %>
      <li><%= staff.full_name %></li>
      <% end %>
   </ul>
   <div class="panel panel-success panel-dark widget-profile">
      <div class="panel-heading">
         <div class="widget-profile-bg-icon"><i class="fa fa-flask"></i></div>
         <%= image_tag("http://gravatar.com/avatar/"+ Digest::MD5.hexdigest(@client.user.email.downcase)+"?s=50", class: "widget-profile-avatar") %>
         <div class="widget-profile-header">
            <span><%= @client.full_name %></span><br>
            <%= @client.business_name %>
         </div>
      </div>
      <!-- / .panel-heading -->
      <div class="list-group">
         <p class="list-group-item"><i class="fa fa-users list-group-icon"></i><strong>Staff:</strong></p>
         <div class="panel-body">
            <table class="table">
               <thead>
                  <tr>
                     <th>Full name</th>
                     <th>Position</th>
                     <th>All Time</th>
                  </tr>
               </thead>
               <tbody class="valign-middle">
                  <% @hrs_by_staff.each do |staff|%>
                  <tr>
                     <td data-title="Name"><%= staff.full_name %></td>
                     <td data-title="Business Name"><%= staff.position %></td>
                     <td data-title="Month"><%= c = ("%.2f" % staff.hrs_this_month).to_s.split(".").map { |s| s.to_i }
                        a = c[0].to_s + ":" + ((c[1]*60)/100).to_s + " Hrs."
                        
                         %></td>
                  </tr>
                  <% end %>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <%= link_to 'Edit', edit_client_path(@client) %> |
   <%= link_to 'Back', clients_path %>
</div>