<div class="row clearfix">
  <% if credit.completed? %>
  <div class="complete"> <%= link_to complete_client_credit_path(@client, credit.id), method: :patch do %> <i style="opacity: 0.4;" class="fa fa-check"></i>
    <% end %>
  </div>
  <div class="credit">
    <p style="opacity: 0.4;"><strike><%= credit.credits %></strike></p>
  </div>
  <div class="trash"> <%= link_to client_credit_path(@client, credit.id), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"></i>
    <% end %>
  </div>
  <% else %>
  <div class="complete"> <%= link_to complete_client_credit_path(@client, credit.id), method: :patch do %> <i class="fa fa-check"></i>
    <% end %>
  </div>
  <div class="credit">
    <p><%= credit.credits  %></p>
  </div>
  <div class="trash"> <%= link_to client_credit_path(@client, credit.id), method: :delete, data: { confirm: "Are you sure?" } do %> <i class="fa fa-trash"></i>
    <% end %>
  </div>
  <% end %>
</div>