
<p id="notice"><%= notice %></p>

<div id="tasks_logs">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    
      <% if @task_logs_by_date[date] %>
        <ul class="list-group">
          <% @task_logs_by_date[date].each do |task_log| %>
            <% if task_log.user == current_user %>
              <li class="list-group-item">
              <span class="badge"><%= hr_min_value = task_log.total_hrs.to_s.split(".").map { |s| s.to_i }
              result_hr = hr_min_value[0].to_s + ":"
              result_min = ((hr_min_value[1]*60)/100).to_s + " Hrs."
              hr_min = result_hr + result_min
              %></span>
                <%= link_to task_log.task_title, task_log %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
</div>
