<p id="notice"><%= notice %></p>

<p>
  <strong>Task title:</strong>
  <%= @task_log.task_title %>
</p>

<p>
  <strong>Starting time:</strong>
  <%= @task_log.starting_time %>
</p>

<p>
  <strong>Ending time:</strong>
  <%= @task_log.ending_time %>
</p>

<p>
  <strong>Tota Time:</strong>


  <%= hr_min_value = (@task_log.total_hrs).split(".").map { |s| s.to_i } 
            result_hr = hr_min_value[0].to_s + ":"
            result_min = ((hr_min_value[1]*60)/100).to_s + " Hrs."
            hr_min = result_hr + result_min
        %>
</p>

<%= link_to 'Edit', edit_task_log_path(@task_log) %> |
<%= link_to 'Back', task_logs_path %>
