<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="#" class="navbar-brand">BossDash</a> </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a>Logged in as <strong><%= current_user.meta.full_name %> | <%= current_user.role.titleize %></strong></a><li>
          <li><%= link_to 'Edit profile', myprofile_path %><li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %><li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %><li>
          <li><%= link_to "Login", new_user_session_path %><li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
