<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
  	<% if current_user.role == 0 %>
  	<li><%= link_to 'All Users', users_path %></li>
    <li><%= link_to 'New Staff', new_staff_path %></li>
    <li><%= link_to 'New Client', new_client_path %></li>
	<% end %>
    <li><%= link_to 'All Task', task_logs_path %></li>
    <li><%= link_to 'Create a task', new_task_log_path %></li>
  </ul>
</div>